html, body{
  height: 100%;
}
body {
    font-family: 'Encode Sans Condensed', sans-serif;
    font-size: 13px;
    color: #000000;
    font-weight: 400;
}
a:hover{ text-decoration: none; color: #000000;}

p{
  font-family: 'Encode Sans Condensed', sans-serif;
  font-weight: 300;
  font-size: 1.3em;
  text-shadow: 2px 2px 2px #000;
}
.principal {
  display: table;
  width: 100%;
  position: relative;
  background: #f7f7f7 url(../img/bg01.jpg);
  background-size: cover;
  background-position: 50%;
  height: 100vh;
  min-height: 600px;
}
.principal-inner {
  width: 100%;
  height: 100vh;
  min-height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  
}
.principal-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}
.pattern{
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  background: url(../img/overlay.png); 
  z-index: 3;
  position: absolute;
  top: 0;
    }


.section{
  height: 100%; 
  width: 100%; 
}


.justificado{
  vertical-align: middle;
  display: table-cell;
}
.cover{
  margin-bottom: 50px;
}
.cover-container {
    width: 700px;
    margin-right: auto;
    margin-left: auto;
}
.logotipo{
  -o-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -webkit-animation-duration: 2s;
  -o-animation-delay: .5s;
  -moz-animation-delay: .5s;
  -webkit-animation-delay: .5s; 
}
.titulo{
  padding: 30px 0;
  font-size: 2.4em;
  color: #004340;
  font-family: 'LaborUnion-Regular';
  -o-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  -o-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -webkit-animation-delay: 1s;
  padding: 4px 0 0;
  width: 100%;
  max-width: 570px;
}
.btnCarta{
  display: table;
 color: #004340;
  -o-animation-duration: .5s;
  -moz-animation-duration: .5s;
  -webkit-animation-duration: .5s;
  -o-animation-delay: 2s;
  -moz-animation-delay: 2s;
  -webkit-animation-delay: 2s;
  border: solid 2px #004340;
  padding: 5px 40px;
  margin: 20px 0;
  position: relative;
}
.direccion{
  
  -o-animation-duration: .5s;
  -moz-animation-duration: .5s;
  -webkit-animation-duration: .5s;
  -o-animation-delay: 1.4s;
  -moz-animation-delay: 1.4s;
  -webkit-animation-delay: 1.4s;
  padding: 8px 18px 8px;
  background: #004340;
  display: inline-block;
}
.direccion p{
  color: #ffffff;
}
.contenido{
  font-size: 15px;
  color:#fff;
  -o-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  -o-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
}
.chelas{
  position: absolute;
  width: 40%;
  bottom: 0;
  right: 10%;
    -o-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -webkit-animation-delay: 1s;
}
.boton1{
  font-size: 15px;
  background: none;
  margin:10px;
  color:#fff;
  -o-animation-duration: .5s;
  -moz-animation-duration: .5s;
  -webkit-animation-duration: .5s;
  -o-animation-delay: 2s;
  -moz-animation-delay: 2s;
  -webkit-animation-delay: 2s;
}
.boton2{
  font-size: 15px;
  background: none;
  margin: 10px;
  color:#fff;
  -o-animation-duration: .5s;
  -moz-animation-duration: .5s;
  -webkit-animation-duration: .5s;
  -o-animation-delay: 2s;
  -moz-animation-delay: 2s;
  -webkit-animation-delay: 2s;
}
.iconos{
  -o-animation-duration: .5s;
  -moz-animation-duration: .5s;
  -webkit-animation-duration: .5s;
  -o-animation-delay: 2.5s;
  -moz-animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s;

}
.redes{
  width: 40px;
  height: 40px;
  margin: 5px; 
}
.logoMain{
    width: 100%;
    max-width: 390px
}

.contacto{
  padding: 90px 0;
  min-height: 650px;
  height:100vh;
}
.logoContacto{
  width: 100%;
  max-width: 250px
}
.textoContenedor{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 530px;
}
.texto1{
  display: table;
}
.reservas h1{color: #ffffff; background: #004340; padding: 10px 20px;}
.fecha{
  width: 100%;
  max-width: 350px;
  padding: 20px 0;
  -o-animation-delay: 1.4s;
  -moz-animation-delay: 1.4s;
  -webkit-animation-delay: 1.4s;
}
.mastfoot {
  padding: 30px 0 50px;
  position: absolute;
}

.innerCont{
  width: 80%;
  max-width: 1200px;
}


#map-canvas{
  width: 100%;
  height: 650px;
}
.reservas{
  padding: 100px 0;
  background: #e6e5e0 url(../img/wall.jpg);
  background-size: auto auto;

background-size: cover;
}
.iframe{
  background: #ffffff;
  padding: 20px 10px;
}
.iframeReservacalend{
  width: 100%;
  height: 650px;
  background: #ffffff;
}

@media (max-width:768px) { 
  .titulo{
  font-size: 24px;
  }
  .principal-container{
    margin-top: 25%;
  }
  .boton1{
    margin: 0
  }
  .boton2{
    margin: 0
  }
  .contacto{
    padding: 0;
  }
.chelas{width: 60%; }

 }

 @media (max-width:480px) {
  .principal{
    min-height: 480px;
  }
  .principal-inner{
    min-height: 480px;
  }
  .innerCont{
    width: 96%
  }
  .titulo{
    font-size: 20px;
  }
  p{font-size: 1.1em}
.chelas{width: 80%; }
}
