/** Generated @ www.fontreactor.com **/
@font-face {
	font-family: 'LaborUnion-Regular';
    src: url('../fonts/original_LaborUnion-Regular.eot?#iefix') format('embedded-opentype'), 
         url('../fonts/original_LaborUnion-Regular.woff') format('woff'),
         url('../fonts/original_LaborUnion-Regular.ttf') format('truetype'),
         url('../fonts/original_LaborUnion-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}